{% extends 'main/base.html' %}

{% block content %}
    <div class="row gy-5">
        <h5> Сервис рассылки сообщений</h5>
        <div class="col">
            <div class="card shadow-sm text-center" style="background: #e0e0e0">
                <figure class="p-3 mb-0">
                    Создано рассылок: #.<br>
                    <br>
                    Количество активных рассылок: #.<br>
                    <br>
                    Количество уникальных клиентов: #
                </figure>
            </div>
        </div>
    </div>
{% endblock %}